@font-face {
    font-family: "Fake Identity";
    src: url("../fonts/fake_identity/FakeIdentity.ttf");
}


h1{
    color: green;
    letter-spacing: 20px;
    word-spacing: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    text-indent: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
} 

h2{
    text-decoration: overline;
    font-family: "FakeIdentity";
}

h3{
    text-decoration: underline;
}

h4{
    text-decoration: line-through;
}

.myElement{
    font-size: 70px;
}

a:link{
    color: red;
}

a:visited{
    color:green;
}

a:hover{
    color:pink;
}

a:active{
    color:blue;
}